/* Dropdown.css */

/* Estilo del contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo del botón de dropdown */
.dropdown-toggle {
  background-color: #14273b;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.dropdown-toggle:hover {
  background-color: #000000;
}

/* Estilo del contenido del dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #14273b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  margin-top: 10px;
}

/* Mostrar el contenido del dropdown cuando está activo */
.dropdown.show .dropdown-menu {
  display: block;
}

/* Estilo de los elementos del dropdown */
.dropdown-menu a,
.dropdown-menu button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #0056b3;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown-menu a:last-child,
.dropdown-menu button:last-child {
  border-bottom: none;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background-color: #0056b3;
}

/* Estilo de la flecha del dropdown */
.arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.arrow.up {
  transform: rotate(180deg);
}
