.content-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.subject-container {
  margin-bottom: 30px; /* Espacio adicional entre los grupos de asignaturas */
  border: 2px solid #ccc; /* Borde para destacar cada asignatura */
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9; /* Fondo ligero para cada contenedor */
}

.subject-header {
  background-color: #007bff; /* Color de fondo para el encabezado de la asignatura */
  color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0; /* Bordes redondeados para la parte superior */
}

.question-list {
  margin-top: 16px;
}

.question-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px;
  margin: 8px 0;
}

.question-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9em;
}

.question-text {
  margin-top: 8px;
  font-size: 1em;
}
