.teacher-list-container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.teacher-add-button {
  background-color: #14273b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.teacher-add-button:hover {
  background-color: #000000;
}

.sort-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sort-options label {
  margin-right: 10px;
}

.sort-options select {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.sort-order-button {
  background-color: #14273b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-order-button:hover {
  background-color: #000000;
}

.teacher-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.teacher-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.teacher-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.teacher-item h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.teacher-item p {
  margin: 10px 0;
  font-size: 1em;
  color: #666;
}

.teacher-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.edit-button,
.delete-button {
  background-color: #14273b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #000000;
}

.delete-button {
  background-color: #14273b;
}

.delete-button:hover {
  background-color: #000000;
}
